<div class="ae-grid">
  <div class="ae-grid__item item-lg-6">
    <h4 class="ae-u-bolder au-mb-3 conatct__title">Contáctanos</h4>
    <p class="au-mb-4 contact__desc">
      Si deseas conocer más, deja tus datos en nuestro formulario. 
      <br />Te responderemos a la brevedad.
    </p>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-12">
        <form id="contact-form" action="#0" class="ae-form--full">
          <input type="text" placeholder="Nombre" required />
          <input type="tel" placeholder="Teléfono" required />
          <input type="email" placeholder="Correo electrónico" required />
          <textarea
            placeholder="Escribe aquí tu mensaje"
            cols="30"
            rows="4" required>
          </textarea>
          <p class="au-xs-ta-right au-pt-4 group-buttons">
            <a
              href="#0"
              class="arrow-button arrow-button--right arrow-button--out">
              Enviar
              <span class="arrow-cont">
                <svg>
                  <use
                    xlink:href="assets/img/symbols.svg#arrow"
                  ></use>
                </svg>
              </span>
            </a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
